<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect/crit1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,444},{330,252}}</string>
                <key>offset</key>
                <string>{-60,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,378},{330,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect/crit1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{498,416}}</string>
                <key>offset</key>
                <string>{0,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,224},{498,416}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect/crit1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{568,372}}</string>
                <key>offset</key>
                <string>{12,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,201},{568,372}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect/crit1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{424,250}}</string>
                <key>offset</key>
                <string>{-64,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,212},{424,250}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect/crit1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,698},{324,272}}</string>
                <key>offset</key>
                <string>{-152,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,186},{324,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect/juqi2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1590},{214,122}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,427},{214,122}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>effect/juqi2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,436},{984,366}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,387},{984,366}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>effect/juqi2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1000,432}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,375},{1000,432}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>effect/juqi2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,440}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,372},{1000,440}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>effect/juqi2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{666,270}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,369},{666,270}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>movie_test.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46c467c10731a6123ad376490083c2a3$</string>
            <key>textureFileName</key>
            <string>movie_test.png</string>
        </dict>
    </dict>
</plist>
