<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>MovieClip-sprite 1910.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,67},{18,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,22}}</string>
        <key>sourceSize</key>
        <string>{18,22}</string>
      </dict>
      <key>MovieClip-sprite 1907.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,58},{22,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,27}}</string>
        <key>sourceSize</key>
        <string>{22,27}</string>
      </dict>
      <key>MovieClip-sprite 1904.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,0},{22,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,33}}</string>
        <key>sourceSize</key>
        <string>{22,33}</string>
      </dict>
      <key>MovieClip-sprite 1901.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,35},{32,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,21}}</string>
        <key>sourceSize</key>
        <string>{32,21}</string>
      </dict>
      <key>MovieClip-sprite 1898.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,87},{22,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,16}}</string>
        <key>sourceSize</key>
        <string>{22,16}</string>
      </dict>
      <key>MovieClip-sprite 1895.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,67},{24,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,22}}</string>
        <key>sourceSize</key>
        <string>{24,22}</string>
      </dict>
      <key>MovieClip-sprite 1913.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{99,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,176}}</string>
        <key>sourceSize</key>
        <string>{99,176}</string>
      </dict>
      <key>MovieClip-sprite 1892.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{45,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,65}}</string>
        <key>sourceSize</key>
        <string>{45,65}</string>
      </dict>
      <key>MovieClip-sprite 1886.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,0},{112,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,152}}</string>
        <key>sourceSize</key>
        <string>{112,152}</string>
      </dict>
      <key>MovieClip-sprite 1889.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{213,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,174}}</string>
        <key>sourceSize</key>
        <string>{213,174}</string>
      </dict>
      <key>MovieClip-sprite 1883.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{301,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,40}}</string>
        <key>sourceSize</key>
        <string>{301,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>armature_boss1.png</string>
      <key>textureFileName</key>
      <string>armature_boss1.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>