<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recombine/btn_grid_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1096},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>recombine/btn_grid_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1062},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>recombine/btn_grid_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1028},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>recombine/gpv_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{390,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,320}}</string>
                <key>sourceSize</key>
                <string>{390,320}</string>
            </dict>
            <key>recombine/img_scrollview.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recombineui.png</string>
            <key>size</key>
            <string>{1028,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffccb250a70484fa11a2ebb3fe4e09b0$</string>
            <key>textureFileName</key>
            <string>recombineui.png</string>
        </dict>
    </dict>
</plist>
