<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag/btn_grid_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,394},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>bag/btn_grid_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,394},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>bag/btn_grid_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>bag/gv_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,390}}</string>
                <key>sourceSize</key>
                <string>{320,390}</string>
            </dict>
            <key>bag/pv_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{390,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,320}}</string>
                <key>sourceSize</key>
                <string>{390,320}</string>
            </dict>
            <key>bag/tbl_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,394},{1,1}}</string>
                <key>offset</key>
                <string>{-11.5,11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bagui.png</string>
            <key>size</key>
            <string>{646,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c81cc372d771de661050e0e36779339$</string>
            <key>textureFileName</key>
            <string>bagui.png</string>
        </dict>
    </dict>
</plist>
